<!doctype html>
<html class="js">
<title>{% block title %}{% endblock %} - wavelength</title>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="/static/style.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #fff;">
  <nav class="navbar navbar-default" id="navbar-cust" style="background-color: white">
    <div class="container-fluid">
      <a class="navbar-brand" href="{{ url_for('profile_bp.home') }}"><img src="/static/IMG_3606.JPG" alt="wavelength" style="width:175px; margin-top:0"></a>
      <ul class="nav navbar-nav" style="padding-top:15px; padding-bottom:10px; font-size:15px;">
        <li><a id="nav-item" href="{{ url_for('profile_bp.home') }}">home</a></li>
        <li><a id="nav-item" href="{{ url_for('profile_bp.search_users') }}">search</a></li>
        <li><a id="nav-item" href="{{ url_for('profile_bp.show_matches') }}">matches</a></li>
        <li class="navbar-right"><a id="nav-item" href="{{ url_for('auth_bp.logout') }}">log out</a></li>
      </ul>
    </div>
  </nav>
  <div class="loader"></div>
  <div class="container-fluid bg-text">
    <section class="content">
      <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </div>
  <script>
    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector("body").style.visibility = "hidden";
            document.querySelector(".loader").style.visibility = "visible";
        } else {
            document.querySelector(".loader").style.display = "none";
            document.querySelector("body").style.visibility = "visible";
        }
    };
  </script>
</body>
</html>