<!doctype html>
<html class="js">
<title>{% block title %}{% endblock %} - wavelength</title>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="/static/style.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: #fff;">
  <div class="container-fluid bg-text">
    <div class="row">
        <nav class="navbar navbar-light bg-light" id="navbar-cust" style="margin-bottom:0;">
          <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12" style="margin-bottom: 10px; margin-top:15px;">
            <a class="navbar-brand" href="{{ url_for('profile_bp.home') }}">
              <img src="/static/IMG_3606.JPG" alt="wavelength"
                   style="width:175px; margin-top:0; position:absolute; bottom:0;">
            </a>
          </div>
            <div class="col-sm-0 col-xs-1"></div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-11" id="navbarSupportedContent" style="margin-top:5px;">
              <ul class="navbar-nav mr-auto" style="padding-left: 0;">
                <li class="nav-item" style="list-style: none;">
                  <a id="nav-item-id" class="nav-link" href="{{ url_for('profile_bp.home') }}">home</a>
                </li>
                <li class="nav-item" style="list-style: none;">
                  <a id="nav-item-id" class="nav-link" href="{{ url_for('profile_bp.search_users') }}">search</a>
                </li>
                <li class="nav-item" style="list-style: none;">
                  <a id="nav-item-id" class="nav-link" href="{{ url_for('profile_bp.show_matches') }}">matches</a>
                </li>
                <li class="nav-item" style="list-style: none;">
                  <a id="nav-item-id" class="nav-link" href="{{ url_for('auth_bp.logout') }}">log out</a>
                </li>
              </ul>
            </div>
        </nav>
    </div>
  <div class="loader"></div>
    <section class="content">
      <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        {% block header %}{% endblock %}
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
      {% block content %}{% endblock %}
    </section>
  </div>
  <script>
    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector("body").style.visibility = "hidden";
            document.querySelector(".loader").style.visibility = "visible";
        } else {
            document.querySelector(".loader").style.display = "none";
            document.querySelector("body").style.visibility = "visible";
        }
    };
  </script>
</body>
</html>