{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin:0 30px;">
    <div class="row">
        <div class="col-sm-6">
            <h2>Profile</h2>
            <h3>{{ user.username }}, {{ age }}</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="inline-block">
                {% for photo in photos %}
                    <div class="img-container inline-block">
                        <img class="inline-block cropped-img" src="{{ photo }}" alt="profile photo" style="height:300px">
                        <div class="delete_btn">
                            <a href="{{ url_for('profile_bp.delete_image', photo_id=photo.id) }}">Remove</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

        <div class="col-lg-6 list-item-box bio-box" style="text-align:left;">
            <div style="margin:10px 10px 20px 10px">
                <div>
                    <h3>Bio</h3>
                    <p>{{ user.bio }}</p>
                </div>
                <div>
                    <h3>Interests</h3>
                    <p>{{ user.interests }}</p>
                </div>
                <div>
                    <h3>Dislikes</h3>
                    <p>{{ user.pet_peeves }}</p>
                </div>
                <div>
                    <h3>Location</h3>
                    <p>{{ city }}, {{ state }}</p>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <button class="btn-cust list-item-box user-list" onclick="addImageFunction()">Add Photo</button>
    </div>

    <div id="addImage" class="row">
        <div class="col-sm">
            <form action="{{ url_for('profile_bp.upload_image') }}" method="post" enctype=multipart/form-data>
              <label for="img">Add image:</label>
              <input type="file" id="img" name="img" accept="image/*">
              <input class="btn btn-outline-secondary" type="submit" value="Upload">
            </form>
        </div>
    </div>
    <br>

    <div class="row">
        <button class="btn-cust list-item-box user-list" onclick="myFunction()">Update Info</button>
    </div>
    <br>

    <div id="updateInfo" class="row">
        <div class="col-sm-3 input-group mb-3">
          <form action="{{ url_for('profile_bp.home') }}" method="post">
              <label for="interested_in">Interested In</label>
              <select class="form-control" id="interested_in" name="interested_in">
                  <option value=""></option>
                <option value="women">Women</option>
                <option value="men">Men</option>
                <option value="both">Both</option>
              </select>
              <br/>
              <label for="bio">Bio</label>
              <input class="form-control" name="bio" id="bio">
              <br/>
              <label for="interests">Interests</label>
              <input class="form-control" name="interests" id="interests">
              <br/>
              <label for="pet_peeves">Dislikes</label>
              <input class="form-control" name="pet_peeves" id="pet_peeves">
              <br/>
              <label for="birthdate">Birthdate</label>
              <input class="form-control" name="birthdate" id="birthdate" type="date">
              <br/>
              <label for="zip">Zip Code</label>
              <input class="form-control" name="zip" id="zip">
              <br/>
              <input class="form-control" type="submit" value="Update">
          </form>
        </div>
    </div>


<script>
    window.onload = function() {
      document.getElementById('updateInfo').style.display = 'none';
      document.getElementById('addImage').style.display = 'none';
    };
    function myFunction() {
      var x = document.getElementById("updateInfo");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    };
    function addImageFunction() {
      var x = document.getElementById("addImage");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }
</script>
</div>
{% endblock %}
