<!doctype html>
<html class="js register-bg" style="min-height:100%">
<title>{% block title %}{% endblock %} - wavelength</title>
<head>
<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css2?family=Roboto&family=Roboto+Slab&display=swap' rel='stylesheet'>
  <link rel="stylesheet" href="/static/style.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body style="background-color: transparent; min-height:100%;">
  <div class="container-fluid bg-text">
    <div class="row">
        <nav class="navbar navbar-light bg-light" id="navbar-cust" style="margin-bottom:40px;background-color:white;">
          <div class="col-lg-2 col-md-3 col-sm-3 col-xs-12" style="margin-bottom: 10px; margin-top:15px;">
            <a class="navbar-brand" href="{{ url_for('profile_bp.home') }}">
              <img src="/static/IMG_3606.JPG" alt="wavelength"
                   style="width:175px; margin-top:0; position:absolute; bottom:0;">
            </a>
          </div>
            <div class="col-sm-0 col-xs-1"></div>
            <div class="col-lg-10 col-md-9 col-sm-9 col-xs-11" id="navbarSupportedContent" style="margin-top:5px;">
              <ul class="navbar-nav mr-auto" style="padding-left: 0;">
                <li class="nav-item" style="list-style: none;">
                  <a id="nav-item-id" class="nav-link" href="{{ url_for('auth_bp.register') }}">about</a>
                </li>
                  <li class="nav-item" style="list-style: none;">
                  <a id="nav-item-id" class="nav-link" href="{{ url_for('auth_bp.register') }}">register</a>
                </li>
                <li class="nav-item" style="list-style: none;">
                  <a id="nav-item-id" class="nav-link" href="{{ url_for('auth_bp.login') }}">log in</a>
                </li>
              </ul>
            </div>
        </nav>
    </div>
  <div class="loader"></div>
    <section class="content" style="height: 100%; background-size: cover;">
      <header>
        <meta name="viewport" content="width=device-width, initial-scale=1">
      </header>
      {% for message in get_flashed_messages() %}
        <div class="flash">{{ message }}</div>
      {% endfor %}
        <div class="row">
          <div class="col-lg-8 col-md-6 col-sm-5 col-xs-0" style="height:100%">
              <div class="row">
                  <div class="col-lg-12 col-xs-12">
                      <h1 class="about-title">
                          Connect with people on your wavelength
                      </h1>
                  </div>
              </div>
          </div>
          <div class="col-lg-4 col-md-6 col-sm-7 col-xs-12">
            <div  class="" style="text-align:left; padding:20px; background-color: rgba(255, 255, 255, 0.6);height:100%;border: solid 2px white; border-radius:20px; margin-bottom:20px;">
              <h2 style="font-family:Vision-Bold;">Log In</h2>
              <form method="post">
                  <label for="email">Email</label>
                  <input style="width:100%" class="form-control" name="email" id="email" required>
                  <br/>
                  <label for="password">Password</label>
                  <input class="form-control" type="password" name="password" id="password" required>
                  <input style="margin:20px 0;font-family:Vision-Bold" class="form-control login-btn" type="submit" value="Log In">
                </form>
                <p style="font-family:Vision-Light; color: #666;">Don't have an account?</p>
                <a href="{{ url_for('auth_bp.register') }}">Register Here</a>
            </div>
        </div>
    </div>
    </section>
  </div>
  <script>
    document.onreadystatechange = function() {
        if (document.readyState !== "complete") {
            document.querySelector("body").style.visibility = "hidden";
            document.querySelector(".loader").style.visibility = "visible";
        } else {
            document.querySelector(".loader").style.display = "none";
            document.querySelector("body").style.visibility = "visible";
        }
    };
</script>

</body>
</html>