{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="margin:0 auto; align-items:center;">
  <div class="row">
    <div class="col-lg-4 col-md-3 col-sm-1 col-xs-0"></div>
    <div class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
      <div class="list-item-box bio-box" style="text-align:left; padding:20px;">
        <h2 style="text-align:center">Log In</h2>
        <form method="post">
          <label for="email">Email</label>
          <input style="width:100%" class="form-control" name="email" id="email" required>
          <br/>
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" required>
          <input style="margin:20px 0;font-family:Vision-Bold" class="form-control login-btn" type="submit" value="Log In">
        </form>
        <p style="font-family:Vision-Light; color: #666;">Don't have an account?</p>
        <a href="{{ url_for('auth_bp.register') }}">Register Here</a>
      </div>
    </div>
    <div class="col-lg-4 col-md-3 col-sm-1 col-xs-0"></div>
  </div>
</div>

{% endblock %}