{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin:0 30px;">
    <div class="row">
        <div class="col-lg-3">
            <h2>Matches</h2>
        </div>
    </div>
    <br>
    {% for match, photo, age in matches %}
        <div class="row" style="margin:10px;">
            <div class="col-lg-3 list-item-box">
                <a class="user-list" href="{{ url_for('profile_bp.send_message', user_id=match.id) }}">
                    <img style="margin:20px 20px 20px 0;" class="inline-block cropped-img-cir" src="{{ photo }}" alt="profile photo">
                    <div class="inline-block">
                        <h3>{{ match.username }}, {{ age }}</h3>
                        <p>{{ match.bio }}</p>
                    </div>
                </a>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}