{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-6">
            <div class="message-box-old">
                <div>
                    <p class="text-bubble-center" style="text-align:center;">
                        love.bot <img src="/static/red-heart.svg" alt="pin icon" style="width:20px; margin-right:10px">
                        <br>
                        Congrats, you and {{ profile.username }} have matched! Here's an ice breaker for you:
                        <br>
                        What is your favorite topic to read about?
                    </p>
                </div>
                {% for message in messages %}
                <div style="padding:10px;">
                    {% if message.sender == profile.id %}
                        <div class="row" style="margin-left:10px">
                            <p style="color:#888; font-size:10px; text-align:left;">
                                {{ message.timestamp.time().strftime('%H:%M') }}
                            </p>
                            <div>
                                <img src="{{ match_photo }}" class="message-box-img inline-block" alt="profile">
                                <p class="text-bubble-left">{{ message.text }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="row" style="margin-right:10px">
                            <p style="color:#888; font-size:10px; text-align:right">
                                {{ message.timestamp.time().strftime('%H:%M') }}
                            </p>
                            <div class="inline-block" style="float:right;">
                                <p class="text-bubble-right">{{ message.text }}</p>

                                <img src="{{ user_photo }}" class="message-box-img" alt="profile">
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <form method="post">
                <input class="text-input" name="text" id="text">
                <input class="text-input-btn btn-cust" type="submit" value="send">
            </form>
        </div>

        <div class="col-lg-6" style="margin-top:0px; padding-left:50px">
            <h1>{{ profile.username }}</h1>

            <div class="inline-block" style="margin-right:15px">
                <form action="{{ url_for('profile_bp.unmatch_user', user_id=profile.id) }}" method="post">
                    <input type="submit" value="unmatch">
                </form>
            </div>

            <div style="display:flex; align-items: center; margin-top:30px">
                {% for photo in profile_photos %}
                    <img class="inline-block cropped-img" src="{{ photo }}"
                         alt="profile photo" style="border-radius:20px; margin-right:20px">
                {% endfor %}
            </div>
            <div style="display:block; margin-top:15px; margin-bottom:0;">
                <p class="inline-block" style="border-right: 1px solid #ccc; padding: 5px 25px 0 25px;">{{ age }}</p>
                <p class="inline-block" style="border-right: 1px solid #ccc; padding: 5px 25px 0 25px;">
                    <img src="/static/pin.svg" alt="pin icon" style="width:20px; margin-right:10px">
                    {{ location.place_name }}, {{ location.state_name }}
                </p>
                <p class="inline-block" style="border-right: 1px solid #ccc; padding: 5px 25px 0 25px;">
                    <img src="/static/work.svg" alt="job icon" style="width:20px; margin-right:10px">student
                </p>
                <p class="inline-block" style="border-right: 1px solid #ccc; padding: 5px 25px 0 25px;">
                    <img src="/static/eye.svg" alt="eye icon" style="width:20px; margin-right:10px">friends
                </p>
                <hr style="margin-top:5px; color: #ccc">
            </div>


            <div class="bio-box" style="margin:30px 10px 20px 10px;">
                <div class="inline-block" style="float:left; text-align:left; width: 250px;">
                    <h3 class="bio-title">Bio</h3>
                    <p class="bio-par">{{ profile.bio }}</p>

                    <h3 class="bio-title">Location</h3>
                    <p class="bio-par">{{ location.place_name }}, {{ location.state_name }}</p>
                </div>

                <div class="inline-block" style="width: 250px;">
                    <h3 class="bio-title">Interests</h3>
                    <p class="bio-par">{{ profile.interests }}</p>

                    <h3 class="bio-title">Dislikes</h3>
                    <p class="bio-par">{{ profile.pet_peeves }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}