{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <div class="message-box">
                {% for message in messages %}
                <div style="padding:10px;">
                    {% if message.sender == profile.id %}
                        <p style="color:#888; font-size:10px; text-align:left;">
                            {{ message.timestamp.time().strftime('%H:%M') }}
                        </p>
                        <p class="text-bubble-left">{{ message.text }}</p>
                    {% else %}
                        <p style="color:#888; font-size:10px; text-align:right">
                            {{ message.timestamp.time().strftime('%H:%M') }}
                        </p>
                        <p class="text-bubble-right">{{ message.text }}</p>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <form method="post">
                <input class="text-input" name="text" id="text">
                <input class="text-input-btn btn-cust" type="submit" value="send">
            </form>
        </div>

        <div class="col-lg-6" style="margin-top:50px">
            <h1>
                <a class="user-list username" href="{{ url_for('profile_bp.user_profile', user_id=profile.id) }}">
                    {{ profile.username }}, {{ profile.age }}
                </a>
            </h1>
            <div style="display:flex; align-items: center; margin-top:30px">
                <img class="inline-block cropped-img" src="/static/IMG_0792.jpeg " alt="profile photo" style="border-radius:100%">
                <div class="inline-block list-item-box user-info" style="height:200px; width:60%; margin-left:10px">
                    <p style="margin-bottom:15px"><img src="/static/work.svg" alt="job icon" style="width:20px; margin-right:10px">student</p>
                    <p style="margin-bottom:15px"><img src="/static/eye.svg" alt="job icon" style="width:20px; margin-right:10px">friends</p>
                </div>
            </div>

            <div class="bio-box" style="margin:30px 10px 20px 10px;">
                <div class="inline-block" style="float:left; text-align:left">
                    <h3 class="bio-title">Bio</h3>
                    <p class="bio-par">{{ profile.bio }}</p>

                    <h3 class="bio-title">Location</h3>
                    <p class="bio-par">{{ location.place_name }}, {{ location.state_name }}</p>
                </div>

                <div class="inline-block">
                    <h3 class="bio-title">Interests</h3>
                    <p class="bio-par">{{ profile.interests }}</p>

                    <h3 class="bio-title">Dislikes</h3>
                    <p class="bio-par">{{ profile.pet_peeves }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}