{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row-fluid">
        <div class="col-lg-6">
            <div class="message-box-old" id="messageBoxOld">
                <div>
                    <p class="text-bubble-center" style="text-align:center;">
                        <span style="font-family:Vision-Bold">love.bot</span>
                        <img src="/static/red-heart.svg" alt="pin icon" style="width:20px; margin-right:10px">
                        <br>
                        <span style="font-family:Vision-Light">
                            Congrats, you and {{ profile.username }} have matched! Here's an ice breaker for you:
                            <br>
                            {% if ice_breaker_message %}
                                {{ ice_breaker_message.text }}
                            {% else %}
                                What is your favorite topic to read about?
                            {% endif %}
                        </span>
                    </p>
                </div>
                {% for message in messages %}
                <div id="messageBoxId" style="padding:10px;">
                    {% if message.sender == profile.id %}
                        <div class="row" style="margin-left:10px">
                            <p class="timestamp" id="{{ profile.id }}" hidden>{{ message.timestamp }}</p>
                            <p id="timestamp_tz{{ profile.id }}" style="color:#888; font-size:10px; text-align:left;"></p>
                            <div>
                                <img src="{{ match_photo }}" class="message-box-img inline-block" alt="profile">
                                <p class="text-bubble-left">{{ message.text }}</p>
                            </div>
                        </div>
                    {% else %}
                        <div class="row" style="margin-right:10px">
                            <p style="color:#888; font-size:10px; text-align:right">
                                {{ message.timestamp.time().strftime('%H:%M') }}
                            </p>
                            <div class="inline-block" style="float:right;">
                                <p class="text-bubble-right">{{ message.text }}</p>

                                <img src="{{ user_photo }}" class="message-box-img" alt="profile">
                            </div>
                        </div>
                    {% endif %}
                </div>
                {% endfor %}
            </div>
            <form method="post">
                <input class="text-input" name="text" id="text">
                <input class="text-input-btn btn-cust" type="submit" value="send">
            </form>
        </div>

        <div class="col-lg-6" style="margin-top:0px; padding-left:50px">
            <h1 class="inline-block">{{ profile.username }}</h1>

            <div class="inline-block">
                <button id="optionsBtn" style="background-color: transparent; border-style:none; margin-left:20px;">
                    <img src="/static/menu.svg" alt="View options" style="width:20px; padding-bottom:10px;">
                </button>
            </div>

            <div id="options">
                <div class="inline-block" style="margin-right:15px">
                    <form action="{{ url_for('profile_bp.unmatch_user', user_id=profile.id) }}" method="post">
                        <input type="submit" value="unmatch" style="width:75px; text-align:center;">
                    </form>
                    <form action="{{ url_for('profile_bp.block_user', user_id=profile.id) }}" method="post">
                        <input type="submit" value="block" style="width:75px; text-align:center;">
                    </form>
                </div>
            </div>

            <div style="display: flex; align-items: center; margin-top:30px; flex-wrap:wrap; justify-content:center">
                {% for photo in profile_photos[:3] %}
                    <img class="inline-block cropped-img" src="{{ photo }}"
                         alt="profile photo" style="border-radius:20px; margin-right:20px">
                {% endfor %}
            </div>
            <div style="display:block; margin-top:15px; margin-bottom:0;">
                <p class="inline-block icon-info-bar">
                    <img src="/static/hourglass.svg" alt="pin icon" style="width:20px; margin-right:10px">
                    {{ age }}
                </p>
                <p class="inline-block icon-info-bar">
                    <img src="/static/pin.svg" alt="pin icon" style="width:20px; margin-right:10px">
                    {{ location.place_name }}, {{ location.state_name }}
                </p>
                <p class="inline-block icon-info-bar">
                    <img src="/static/work.svg" alt="job icon" style="width:20px; margin-right:10px">student
                </p>
                <p class="inline-block icon-info-bar" style="border-style:none;">
                    <img src="/static/eye.svg" alt="eye icon" style="width:20px; margin-right:10px">friends
                </p>
                <hr style="margin-top:5px; color: #ccc">
            </div>

            <div class="bio-box" style="margin:30px 10px 20px 10px;">
                <div class="inline-block" style="float:left; text-align:left; width: 250px;">
                    <h3 class="bio-title">Bio</h3>
                    <p class="bio-par">{{ profile.bio }}</p>

                    <h3 class="bio-title">Location</h3>
                    <p class="bio-par">{{ location.place_name }}, {{ location.state_name }}</p>
                </div>

                <div class="inline-block" style="width: 250px;">
                    <h3 class="bio-title">Interests</h3>
                    <p class="bio-par">{{ profile.interests }}</p>

                    <h3 class="bio-title">Dislikes</h3>
                    <p class="bio-par">{{ profile.pet_peeves }}</p>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function() {
        document.getElementById('options').style.display = 'none';
        var messageBox = document.getElementsByClassName('message-box-old')[0];
        var height = $('#messageBoxOld').height();
        messageBox.scrollTo(0, height);
    };

    let optionsBtn = document.getElementById('optionsBtn');

    optionsBtn.onclick = function() {
      var x = document.getElementById("options");
      if (x.style.display === "none") {
        x.style.display = "block";
      } else {
        x.style.display = "none";
      }
    }

    let dateobj = document.getElementsByClassName('timestamp');
    console.log(dateobj);
    let dateobj1 = dateobj[0].textContent;

    for (i=0; i < dateobj.length; i++) {
        let id = dateobj[i].id
        let ts = new Date(dateobj[i].textContent);
        ts.toString();
        let tz_date_div = document.getElementById('timestamp_tz' + id);
        let hours = ts.getHours();
        console.log('hours' + hours);
        tz_date_div.innerHTML += ts.getHours() + ":" + (ts.getMinutes()<10?'0':'') + ts.getMinutes();
    }

</script>
{% endblock %}