{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid" style="margin:0 auto; width:70%">
    <div class="row">
        <div class="col-lg-12">
            {% if not matched and not awaiting_match %}
            <div>
                <div class="inline-block" style="margin-bottom:20px;">
                    <form method="post">
                        <input type="hidden" id="match_user_id" name="match_user_id" value="{{ user.id }}">
                        <input class="match-btn bold-txt" type="submit" value="MATCH">
                    </form>
                </div>

                <div class="inline-block" style="margin-bottom:20px;">
                    <form method="post">
                        <input type="hidden" id="pass_user_id" name="pass_user_id" value="{{ user.id }}">
                        <input class="match-btn bold-txt" type="submit" value="PASS">
                    </form>
                </div>
            </div>
        {% elif awaiting_match and not matched %}
            <div class="inline-block">
                <p>Awaiting response</p>
            </div>
        {% else %}
            <a class="user-list" href="{{ url_for('profile_bp.send_message', user_id=user.id) }}">
                <img src="/static/message.svg" alt="message icon" style="width:30px; margin-right:8px">
                send message
            </a>
        {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12 list-item-box bio-box inline-block">
            <h1 style="text-align:left">{{ user.username }}, {{ age }}</h1>
            <div class="inline-block" style="display:flex; margin-top:30px">
                {% for photo in photos %}
                    <img class="inline-block cropped-img-profile" src="{{ photo }}"
                         alt="profile photo">
                {% endfor %}
            </div>

            <div class="bio-box" style="margin:30px 10px 20px 10px;">
                <div class="inline-block" style="float:left; text-align:left; width: 400px;">
                    <h3 class="bio-title">Bio</h3>
                    <p class="bio-par">{{ user.bio }}</p>

                    <h3 class="bio-title">Location</h3>
                    <p class="bio-par">{{ location.place_name }}, {{ location.state_name }}</p>
                </div>

                <div class="inline-block" style="width: 400px;">
                    <h3 class="bio-title">Interests</h3>
                    <p class="bio-par">{{ user.interests }}</p>

                    <h3 class="bio-title">Dislikes</h3>
                    <p class="bio-par">{{ user.pet_peeves }}</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row">

    </div>
</div>
{% endblock %}