{% extends 'base.html' %}

{% block header %}
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-2 col-xs-1"></div>
        <div class="col-sm-8 col-xs-10">
            {% if not matched and not awaiting_match %}
            <div>
                <div class="inline-block" style="margin-bottom:20px;">
                    <form method="post">
                        <input type="hidden" id="match_user_id" name="match_user_id" value="{{ user.id }}">
                        <input class="match-btn bold-txt" type="submit" value="MATCH">
                    </form>
                </div>

                <div class="inline-block" style="margin-bottom:20px;">
                    <form method="post">
                        <input type="hidden" id="pass_user_id" name="pass_user_id" value="{{ user.id }}">
                        <input class="match-btn bold-txt" type="submit" value="PASS">
                    </form>
                </div>
            </div>
        {% elif awaiting_match and not matched %}
            <div class="inline-block">
                <p>Awaiting response</p>
            </div>
        {% else %}
            <div style="margin-bottom:20px;">
            <a class="user-list" href="{{ url_for('profile_bp.send_message', user_id=user.id) }}" style="margin-bottom:20px;">
                Congrats, you and {{ user.username }} have matched!
                <br/><br/>
                <img src="/static/message.svg" alt="message icon" style="width:30px; margin:0 6px 0 0;">
                send message
            </a>
            </div>
        {% endif %}
        </div>
        <div class="col-sm-2 col-xs-1"></div>
    </div>
    <div class="row">
        <div class="col-sm-2 col-xs-0"></div>
        <div class="col-sm-8 col-xs-12 list-item-box inline-block" style="margin-bottom:40px;">
            <h1 style="text-align:left">{{ user.username }}, {{ age }}</h1>
            <div class="inline-block" style="display:flex; margin-top:30px; flex-wrap:wrap; justify-content:center">
                {% for photo in photos %}
                    <img class="inline-block cropped-img-profile" src="{{ photo }}"
                         alt="profile photo">
                {% endfor %}
            </div>
            <div style="display:block; margin-top:15px; margin-bottom:0; text-align:left;">
                <p class="inline-block icon-info-bar">
                    <img src="/static/hourglass.svg" alt="pin icon" style="width:20px; margin-right:10px">
                    {{ age }}
                </p>
                <p class="inline-block icon-info-bar">
                    <img src="/static/pin.svg" alt="pin icon" style="width:20px; margin-right:10px">
                    {{ location.place_name }}, {{ location.state_name }}
                </p>
                <p class="inline-block icon-info-bar">
                    <img src="/static/work.svg" alt="job icon" style="width:20px; margin-right:10px">student
                </p>
                <p class="inline-block icon-info-bar" style="border-style: none;">
                    <img src="/static/eye.svg" alt="eye icon" style="width:20px; margin-right:10px">friends
                </p>
                <hr style="margin-top:5px; color: #ccc">
            </div>

            <div class="bio-box" style="margin:30px 10px 20px 10px;">
                <div class="inline-block" style="float:left; text-align:left; width: 40%;">
                    <h3 class="bio-title">Bio</h3>
                    <p class="bio-par">{{ user.bio }}</p>

                    <h3 class="bio-title">Location</h3>
                    <p class="bio-par">{{ location.place_name }}, {{ location.state_name }}</p>
                </div>

                <div class="inline-block" style="width: 40%;">
                    <h3 class="bio-title">Interests</h3>
                    <p class="bio-par">{{ user.interests }}</p>

                    <h3 class="bio-title">Dislikes</h3>
                    <p class="bio-par">{{ user.pet_peeves }}</p>
                </div>
            </div>
        </div>
        <div class="col-sm-2 col-xs-0"></div>
    </div>
</div>
{% endblock %}