{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="margin:0 auto; align-items:center;">
    <div class="row">
      <div class="col-lg-4 col-md-3 col-sm-1 col-xs-0"></div>
          <div class="col-lg-4 col-md-6 col-sm-10 col-xs-12">
            <div  class="list-item-box bio-box" style="text-align:left; padding:20px;">
              <h2 style="text-align:center">Register</h2>
              <form method="post">
                <label for="username">Username</label>
                <input class="form-control" name="username" id="username" required>
                <br/>
                <label for="password">Password</label>
                <input class="form-control" type="password" name="password" id="password" required>
                <br/>
                <label for="confirm_password">Confirm password</label>
                <input class="form-control" type="password" name="confirm_password" id="confirm_password" required>
                <span id='message'></span>
                <br/>
                <label for="email">Email</label>
                <input class="form-control" name="email" id="email" required>
                <br/>
                <label for="birthdate">Birthdate</label>
                <input class="form-control" name="birthdate" id="birthdate" type="date" max="{{ max_date }}" required>
                <br/>
                <label for="gender">Gender</label>
                <select class="form-control" id="gender" name="gender">
                  <option value="women">Woman</option>
                  <option value="men">Man</option>
                  <option value="both">Non-Binary</option>
                </select>
                <br/>
                <input class="form-control login-btn" type="submit" value="Register">
              </form>
            </div>
        </div>
      <div class="col-lg-4 col-md-3 col-sm-1 col-xs-0"></div>
  </div>
</div>
<script>
  $('#password, #confirm_password').on('keyup', function () {
  if ($('#password').val() === '') {
    $('#message').html('Password Required').css('color', 'red');
  } else if ($('#password').val() == $('#confirm_password').val()) {
    $('#message').html('Matching').css('color', 'green');
  } else
    $('#message').html('Not Matching').css('color', 'red');
});
</script>
{% endblock %}