{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div style="margin:0 auto; width:30%; align-items:center;">
  <div  class="list-item-box bio-box" style="text-align:left; padding:20px;">
    <div class="row">
      <div class="col-lg-12">
        <h2 style="text-align:center">Register</h2>
        <form method="post">
          <label for="username">Username</label>
          <input class="form-control" name="username" id="username" required>
          <br/>
          <label for="password">Password</label>
          <input class="form-control" type="password" name="password" id="password" required>
          <br/>
          <label for="email">Email</label>
          <input class="form-control" name="email" id="email" required>
          <br/>
          <label for="birthdate">Birthdate</label>
          <input class="form-control" name="birthdate" id="birthdate" type="date" max="{{ max_date }}" required>
          <br/>
          <label for="gender">Gender</label>
          <select class="form-control" id="gender" name="gender">
            <option value="women">Woman</option>
            <option value="men">Man</option>
            <option value="both">Non-Binary</option>
          </select>
          <br/>
          <input class="form-control login-btn" type="submit" value="Register">
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}