{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}{% endblock %}</h1>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-3 col-sm-2 col-xs-1"></div>
        <div class="col-lg-6 col-sm-8 col-xs-10">
            <h2 class="inline-block" style="font-family:Vision-Bold;">People Near You</h2>
            <button id="filter-button" onclick="showFilter()" style="float:right;background-color:transparent; border-style:none; margin-top:18px;">
                <img src="/static/filter.svg" style="height:30px;">
            </button>
            <div id="search-filter" class="inline-block">
                <form method="post">
                  <label for="gender">search for</label>
                  <select class="form-control" id="gender" name="gender">
                      <option value=""> </option>
                      <option value="woman">women</option>
                      <option value="man">men</option>
                      <option value="">any</option>
                  </select>
                  <br/>
                  <label for="max_dist">maximum distance (miles)</label>
                  <input class="form-control" type="number" name="max_dist" id="max_dist" min="5" max="50">
                  <input style="margin:20px 0;" class="form-control login-btn" type="submit" value="Search">
                </form>
            </div>
        </div>
        <div class="col-lg-3 col-sm-2 col-xs-1">

        </div>
    </div>
    <br>
    {% if not search_users %}
        <div class="row">
            <div class="col-lg-3 col-sm-2 col-xs-1"></div>
            <div class="col-lg-6 col-sm-8 col-xs-10">
                <p>No users to display</p>
            </div>
            <div class="col-lg-3 col-sm-2 col-xs-1"></div>
        </div>
    {% endif %}
    {% for user, photo, age, location in search_users %}
        <div class="row">
            <div class="col-lg-3 col-sm-2 col-xs-1"></div>
            <div class="col-lg-6 col-sm-8 col-xs-10">
                <div class="inline-block search-img-box" style="background-image: url('{{ photo }}'), url('/static/user.svg');"
                     onmouseover="addUserInfo('userId{{ user.id }}')"
                     onmouseout="hideUserInfo('userId{{ user.id }}')">
                    <a class="user-list" href="{{ url_for('profile_bp.user_profile', user_id=user.id) }}">
                        <div style="margin: 20px 0;">
                            <div class="search-img-info" style="margin-right:20px;">
                                <h3 class="bold-txt" style="text-shadow: 1px 1px #666;">{{ user.username }}, {{ age }}</h3>
                                <p class="bold-txt">Bio</p>
                                {% if not user.bio  %}
                                    <p class="light-txt">{{ user.bio }}</p>
                                {% elif user.bio|length > 75 %}
                                    <p class="light-txt">{{ user.bio[:75] }}...</p>
                                {% else %}
                                    <p class="light-txt">{{ user.bio }}</p>
                                {% endif %}
                                <div class="userInfo" id="userId{{ user.id }}">
                                    <p class="bold-txt">Special Interests</p>
                                    <p class="light-txt">{{ user.interests }}</p>
                                    <p class="bold-txt">Location</p>
                                    <p class="light-txt">{{ location.place_name }}, {{ location.state_name }}</p>
                                </div>
                            </div>
                        </div>
                    </a>
                </div>
            </div>
            <div class="col-lg-3 col-sm-2 col-xs-1"></div>
        </div>
    {% endfor %}

</div>
<script>
    window.onload = function() {
        var x = document.getElementsByClassName('userInfo');
        for (i=0; i < x.length; i++) {
            cur_element = document.getElementsByClassName('userInfo')[i];
            cur_element.style.display = 'none';
        }
        var filter = document.getElementById('search-filter');
        filter.style.display = 'none';
    };

    function addUserInfo(x) {
        document.getElementById(x).style.display = 'block';
    }

    function hideUserInfo(x) {
        document.getElementById(x).style.display = 'none';
    }

    function showFilter() {
        var filter = document.getElementById('search-filter');
        if (filter.style.display == 'none') {
            filter.style.display = 'block';
        } else {
            filter.style.display = 'none';
        }
    }

</script>

{% endblock %}